<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Estoque</mat-card-title>
  </mat-card-header>

  <mat-tab-group>
    <mat-tab label="Produtos">
      <div *ngIf="products$ | async as productPage; else loading">
        <app-product-table
          [products]="productPage.content"
          (add)="onAddProduct()"
          (edit)="onEditProduct($event)"
          (delete)="onDeleteProduct($event)"
        ></app-product-table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 15]"
          [length]="productPage.page.totalElements"
          [pageIndex]="productPageIndex"
          [pageSize]="productPageSize"
          (page)="loadProducts($event)"
          aria-label="Select page of products"
        ></mat-paginator>
      </div>
    </mat-tab>

    <mat-tab label="Movimentações">
      <div *ngIf="inventoryEvents$ | async as inventoryEventPage; else loading">
        <app-inventory-event-table
          [inventoryEvents]="inventoryEventPage.content"
        ></app-inventory-event-table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 15]"
          [length]="inventoryEventPage.page.totalElements"
          [pageIndex]="inventoryEventPageIndex"
          [pageSize]="inventoryEventPageSize"
          (page)="loadInventoryEvents($event)"
          aria-label="Select page of inventory events"
        ></mat-paginator>
      </div>
    </mat-tab>
  </mat-tab-group>

  <ng-template #loading>
    <div class="loading">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  </ng-template>
</mat-card>
